@import url("https://unpkg.com/react-vis/dist/style.css");

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  min-height: 1000px;
}

.sthlm-cover {
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 50vw;
}

.asia-cover {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 50vw;
}

.asia-banner {
  position: absolute;
  right: 5vw;
  width: 12%;
  animation-duration: 3s;
  animation-name: slidein;
}

@media (max-width: 400px) {
  .sthlm-cover {
    background-attachment: scroll !important;
    background-image: url(https://www.sthlmlunch.se/stockholm-lunch-bg-small.png);
    height: 80vw;
  }
  .asia-cover {
    background-image: url(https://www.sthlmlunch.se/asia-cover-400.png);
    height: 80vw;
  }
  .asia-banner {
    width: 21%;
  }
  h1, h2 {
    font-size: 20px !important;
  }
  .h3, h3,.h4, h4 {
    font-size: 16px !important;
  }
  body {
    font-size: 70% !important;
  }
  .navbar {
    text-align: center;
    padding: 10px 0 !important;
    justify-content: space-around;
  }
  .navbar > a { 
    padding: 8px;
    margin: 4px;
    font-size: 16px;
    flex: 1;
  }
}

@media(min-width: 400px) {
  .sthlm-cover {
    background-image: url(https://www.sthlmlunch.se/stockholm-lunch-bg-clean.webp), 
    url(https://www.sthlmlunch.se/stockholm-lunch-bg-clean.jp2);
  }
  .asia-cover {
    background-image: url(https://www.sthlmlunch.se/asia-cover.png);
  }
}

@media(min-width: 800px) {
  .asia-cover {
    background-image: url(https://www.sthlmlunch.se/asia-cover-se.png);
  }
}

@keyframes slidein {
  from {
    top: -600px;
  }
  to {
    top: 0px;
  }
}

*:focus {
	outline: none !important;
}

.card-item {
	padding: 1vmax 3vw !important;
}

a {
  color: #184794 !important;
}

a:hover {
	text-decoration: underline;
}

.page-header {
	padding: 20px;
	margin-bottom: 20px;
}

.circle-half {
	border: 1px solid green;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	background: linear-gradient(to right, green 50%, white 50%);
}

.circle {
	border: 1px solid green;
	background: green;
	border-radius: 50%;
	height: 20px;
	width: 20px;
}

.circle-empty {
	border: 1px solid green;
	border-radius: 50%;
	height: 20px;
	width: 20px;
}